.thumps_up{
    text-align: center;
  }
  
.progress{
  margin-top: 20px;
}

.gray-box {
  background-color: #f5f5f5;
  padding: 10px;
  border: solid 1px #ddd;
}

.ui-button-custom{
    background-image: url("/assets/ajax-loader.gif");
    background-repeat:no-repeat;
}

button{
    width: 177px !important;
    height: 32px !important;
}
